@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  margin: 0 auto;
  z-index: 9999;
}

section {
  padding: 0 5%;
}

@media (max-width: 768px) {
    nav{
        width: 95%;
    }

    #navItems{
        display: none !important;
    }

    button > span{
        display: none !important;
    }

    button > img{
        display: block !important;
    }

    button{
        background-color: white !important;
    }
}